<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>classhelp.guofeng.teacher.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PushWorkServlet</servlet-name>
		<servlet-class>classhelp.guofeng.teacher.PushWorkServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PushCheckServlet</servlet-name>
		<servlet-class>classhelp.guofeng.teacher.PushCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DoCheckServlet</servlet-name>
		<servlet-class>classhelp.guofeng.student.DoCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>EndCheckServlet</servlet-name>
		<servlet-class>classhelp.guofeng.teacher.EndCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PushMailServlet</servlet-name>
		<servlet-class>classhelp.guofeng.mail.PushMailServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>classhelp.guofeng.util.RegisterServlet</servlet-class>
  </servlet>







	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PushWorkServlet</servlet-name>
		<url-pattern>/PushWorkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PushCheckServlet</servlet-name>
		<url-pattern>/PushCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoCheckServlet</servlet-name>
		<url-pattern>/DoCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EndCheckServlet</servlet-name>
		<url-pattern>/EndCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PushMailServlet</servlet-name>
		<url-pattern>/PushMailServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
